/* --- Global Styles --- */

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

/* --- Visually hidden pattern --- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- Common --- */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ---- Header Styles ---- */

.header {
  width: 100%;
  background-color: var(--white-background-color);
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
  font-size: 18px;
}

.highlighted-text {
  color: var(--dark-color);
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.burger-icon {
  fill: #2f2f37;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    display: block;
    padding: 24px 0;
    position: relative;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    transition-delay: 0;
  }

  .link.current {
    position: relative;
  }

  .link::after {
    content: '';
    display: block;
    background-color: var(--pressed-state-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    transition-delay: 0;
  }

  .contact-link {
    display: block;
    color: var(--text-color);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    transition-delay: 0;
  }

  .header-contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .link:hover::after,
  .link:focus::after,
  .link.current::after {
    opacity: 1;
  }

  .link:hover,
  .link:focus,
  .contact-link:hover,
  .contact-link:focus,
  .link.current {
    color: var(--pressed-state-color);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-contact-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ---- Mobile Menu ---- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-background-color);
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-nav {
  margin-bottom: auto;
}

.modal-close {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;

  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.close-icon {
  fill: var(--dark-color);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--white-background-color);
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.mobile-link:hover,
.mobile-link:focus,
.mobile-link.current {
  color: var(--pressed-state-color);
}

.mobile-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: var(--primary-brand-color);
}

.our-team-soc-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state-color);
}

.social-icon {
  fill: var(--light-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ---- Hero Section ---- */

.hero {
  background-color: var(--dark-color);
  background-image: linear-gradient(
      var(--hero-background-color),
      var(--hero-background-color)
    ),
    url(../images/people-office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;
}

.heading {
  font-weight: 700;
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  max-width: 216px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.action-element {
  display: block;
  border: none;
  background-color: var(--primary-brand-color);

  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  line-height: 1.5;

  border-radius: 4px;
  min-width: 169px;
  height: 56px;

  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.action-element:hover,
.action-element:focus {
  background: var(--pressed-state-color);
}

@media only screen and (min-resolution: 192dpi),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        var(--hero-background-color),
        var(--hero-background-color)
      ),
      url(../images/people-office-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        var(--hero-background-color),
        var(--hero-background-color)
      ),
      url(../images/people-office-tablet.jpg);
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          var(--hero-background-color),
          var(--hero-background-color)
        ),
        url(../images/people-office-tablet@2x.jpg);
    }
  }

  .heading {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        var(--hero-background-color),
        var(--hero-background-color)
      ),
      url(../images/people-office-desktop.jpg);
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          var(--hero-background-color),
          var(--hero-background-color)
        ),
        url(../images/people-office-desktop@2x.jpg);
    }
  }

  .heading {
    margin-bottom: 48px;
  }
}

/* ---- Modal Form ---- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  background-color: var(--modal-background-color);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
  padding: 72px 16px 24px 16px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal .modal-close {
  background-color: #e7e9fc;
}

.modal .modal-close:hover,
.modal .modal-close:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.modal-input-container {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);

  display: block;
  margin-bottom: 4px;
}

.modal-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-overlay-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 0;
  padding-left: 38px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-color);

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.modal-comment-container {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-overlay-color);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  outline: transparent;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.modal-comment:focus {
  border-color: var(--primary-brand-color);
}

.modal-comment::placeholder {
  color: rgb(142, 143, 153, 0.5);
}

.modal-checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);

  display: flex;
  gap: 8px;
  align-items: center;
}

.modal-custom-checkbox {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--modal-overlay-color);
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-property: background-color, border, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.modal-checkbox-icon {
  fill: var(--light-color);
}

.modal-checkbox:checked + .checkbox-label > .modal-custom-checkbox {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary-brand-color);
  display: inline-block;
}

.modal-send {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--primary-brand-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-background-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.modal-send:hover,
.modal-send:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

/* ---- Features ---- */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-icon-box {
  display: none;
}

.content-subheading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.features-subheading {
  margin-bottom: 8px;
}

.content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .content-subheading {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .content-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark-color);
  }

  .content-text {
    font-weight: 400;
  }

  .features-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-icon-box {
    background-color: var(--light-color);
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
}

/* ---- Our Team ---- */

.our-team {
  background-color: var(--light-color);
}

.content-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.list-item {
  max-width: 264px;
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-left: auto;
  margin-right: auto;
}

.our-tem-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.our-tem-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .list-item {
    max-width: calc((100% - 24px) / 2);
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .our-team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .list-item {
    max-width: 264px;
  }
}

/* ---- Our Portfolio ---- */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-item {
  flex-basis: 288px;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.portfolio-card-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.our-portfolio-subheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.our-portfolio-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* ---- Footer ---- */

.highlighted-text-light {
  color: var(--light-color);
}

.site-bottom {
  background-color: var(--dark-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo-box {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
}

.footer-logo {
  text-align: center;
}

.text-bottom {
  color: var(--light-color);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-size: 400;
}

.footer-soc-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-link.footer-social-link:hover,
.social-link.footer-social-link:focus {
  background-color: var(--success-color);
}

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--white-background-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;

  outline: none;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  opacity: 0.6;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  border: none;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--pressed-state-color);
}

.footer-icon {
  fill: var(--white-background-color);
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: flex-start;
  }

  .footer-logo-box {
    display: inline-flex;
    max-width: 264px;
    margin-left: 92px;
  }

  .footer-soc-box {
    display: inline-flex;
    max-width: 208px;
    align-items: flex-start;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-form-box {
    margin-left: 92px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-form-text {
    text-align: left;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .site-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-logo-box {
    margin-left: 0;
    margin-right: 120px;
  }

  .footer-form-box {
    margin-left: 80px;
    min-width: 453px;
    min-height: 80px;
  }

  .footer-input {
    max-width: 264px;
  }
}
