/* --- Global Styles --- */
/* --- Styles of h2 --- */
/* --- Styles of h3 --- */
/* --- Styles of p in card */
/* --- Logo Styles --- */

.highlighted-text-light {
  color: var(--light-color);
}

/* --- Header Styles --- */
/* --- Header Links Styles --- */
/* --- Section Hero Styles --- */
/* --- Section Features --- */
/* --- Section Our Team --- */
/* --- Section Portfolio --- */
/*  --- Footer --- */

.site-bottom {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.text-bottom {
  color: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-link.footer-social-link:hover,
.social-link.footer-social-link:focus {
  background-color: var(--success-color);
}

.footer-soc-box {
  margin-right: 80px;
}

/* footer form */

.footer-form-box {
  min-width: 453px;
  min-height: 80px;
}

.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  border: 1px solid var(--white-background-color);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--white-background-color);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
}

.footer-button {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-background-color);

  background-color: var(--primary-brand-color);
  border: none;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--pressed-state-color);
}

.footer-icon {
  fill: var(--white-background-color);
  margin-left: 16px;
}

/* --- Modal --- */
