/* --- Global Styles --- */
/* --- Styles of h2 --- */
/* --- Styles of h3 --- */
/* --- Styles of p in card */
/* --- Logo Styles --- */

.highlighted-text-light {
  color: var(--light-color);
}

/* --- Header Styles --- */
/* --- Header Links Styles --- */
/* --- Section Hero Styles --- */
/* --- Section Features --- */

/* --- Section Our Team --- */

.our-team-list {
  /* display: flex; */
  gap: 24px;
}

.our-tem-soc-list {
  /* display: flex; */
  /* justify-content: center; */
  gap: 24px;
  margin-top: 8px;
}

/* --- Section Portfolio --- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.portfolio-card-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/*  --- Footer --- */

.site-bottom {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.text-bottom {
  color: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-link.footer-social-link:hover,
.social-link.footer-social-link:focus {
  background-color: var(--success-color);
}

.footer-soc-box {
  margin-right: 80px;
}

/* footer form */

.footer-form-box {
  min-width: 453px;
  min-height: 80px;
}

.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  border: 1px solid var(--white-background-color);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--white-background-color);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
}

.footer-button {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white-background-color);

  background-color: var(--primary-brand-color);
  border: none;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
  transition-delay: 0;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--pressed-state-color);
}

.footer-icon {
  fill: var(--white-background-color);
  margin-left: 16px;
}

/* --- Modal --- */
